body, html {
    margin: 0;
    padding: 0;
    background: #eee;
}

* {
    box-sizing: border-box;
}

.resume {
    width: 90%;
    max-width: 900px;
    margin: 25px auto;
    display: flex;
}

.left-side {
    flex: 0 0 30%;
    position: relative;
}

.left-side img {
    display: block;
    width: 100%;
}

.left-side .desc {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    color: #FFFFFF;
}
.left-side .desc .name {
    padding-bottom: 15px;
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
}
.left-side .desc .points {
    font-size: 14px;
    line-height: 17px;
}
.left-side .desc .points p {
    margin: 0;
}
.left-side .desc .points p + p {
    margin-top: 8px;
}

.right-side {
    flex: 0 0 70%;
    display: flex;
    flex-direction: column;
}
.right-side .top-header {
    background: white;
    padding: 30px 20px 40px 0;
    font-family: Arial;
    font-size: 18px;
    line-height: 21px;
    background: white;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.right-side .top-header .quotation {
    flex: 0 0 80px;
    text-align: center;
    font-family: Arial;
    font-size: 90px;
    line-height: 83px;
    color: #C4C4C4;
    margin-bottom: -40px;
}
.right-side .top-header .text {
    flex: 1 1 auto;
    font-weight: bold;
}
.right-side .top-header .subheading {
    color: #666666;
    font-weight: normal;
}

.right-side .bottom-side {
    padding: 35px 20px 60px 80px;
    background: #F9F9F9;
    flex: 1 0 auto;
    position: relative;
    overflow: hidden;
}

.bottom-side section:not(:first-child) {
    margin-top: 35px;
}

.bottom-side section h3 {
    margin: 0 0 8px;
    font-family: Arial;
    font-size: 18px;
    line-height: 21px;
}
.bottom-side section ul {
    font-family: Arial;
    font-size: 13px;
    line-height: 15px;
    list-style-position: inside;
    padding: 0;
}

.bottom-side .bottom-logo {
    position: absolute;
    bottom: 0;
    right: 0;
    font-family: Audi Type;
    font-size: 24px;
    line-height: 29px;
    background: white;
    padding: 7px 14px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}